:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #ffffff;
  --footerBlack: #0c0c0c;
  --bodyBg: #f5f5f5;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainPurple: #ed017f;
  --mainGreen: #33b27b;
  --mainGrey: #6d6d6d;
}

body {
  /* font-family: 'Oswald', sans-serif !important; */
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background: var(--bodyBg) !important;
  color: var(--mainDark) !important
}

.text-title {
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue) !important
}
.black {
  color: var(--mainDark) !important
}
.text-bright {
  color: var(--lightBlue) !important
}

.name {
  max-lines:1 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.me:hover{
  text-decoration:none !important;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-white {
  background: var(--mainWhite) !important;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  font-weight: bold !important;
  padding: 0.05rem 0.5rem !important
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite);
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.nav-link {
  font-size: 1.125rem !important;
  /* color: var(--mainWhite) !important; */
}

.nav-link:hover {
  color: var(--mainDark) !important;
  background-color: var(--mainWhite);
  /* margin: 0 */
}
.blue-bg {
  background-color: var(--mainBlue) !important;
  color: var(--mainWhite);
}
.custom-bg {
  background-color: var(--mainWhite);
}
.black{
  color: var(--footerBlack) !important;
}
.white{
  color: var(--mainWhite) !important;
}
.grey{
  color: var(--mainGrey) !important;
}
@media (min-width: 992px) {
  .custom-padd {
    padding: 0 10rem !important;
  }
}

a, .titl {
  text-decoration: none;
  color: var(--footerBlack);
}
.titl:hover{
  text-decoration: none;
  color: var(--mainPurple) !important;
}
.fa-shopping-cart {
  font-size: 4.5em;
  color: var(--mainPurple);
}

.empty {
  font-size: 0.9rem;
}

.card:hover {
  border: 0.025rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  transition: all .5s linear;
}
.footer {
  background-color: var(--footerBlack);
  color: var(--mainWhite);
  padding: 2rem 0;
  position:relative;
  bottom:0;
  width:100%
}


/* dropdown section */
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 46vw;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  z-index: 1;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  left: 180px;
  top: -0.35rem;
}
.dropdown-item {
  color: var(--mainGrey) !important;
}
.dropdown-item:hover {
  font-weight: bold;
  color: var(--mainDark) !important
}
.drop-title{
  padding: .45rem 0 .25rem 0;
  margin: 0 1.45rem;
  color: var(--mainPurple);
  text-transform: uppercase;
}
.line{
  width: 100%;
  height:0.075rem;
  background-color: var(--mainGrey);
}
/* End of dropdown section */

/* Footer links */
.links {
  list-style-type: none;
  padding-inline-start: 0 !important;
}
.links a{
  color: var(--mainGrey);
}
.links a:hover{
  color: var(--mainPurple);
  text-decoration: none;
}